[Desktop Entry]
Encoding=UTF-8
Name=Book of Knowledge
Type=Link
URL=https://docs.google.com/document/d/1OAPcRko0ceqRobXxCrIxOKCNa9XjJ0wcID0_YG9nTpQ/edit
Icon=text-html
