[Desktop Entry]
Encoding=UTF-8
Name=Hong Lab Google Drive
Type=Link
URL=https://drive.google.com/drive/u/0/folders/0B-IBETddqFmUflpvSGs2RmRYNktCRlFnNDUtNHB6R3h0THRYQnNyazhLOW1nNWtQYVlXR3c
Icon=text-html
