[Desktop Entry]
Encoding=UTF-8
Name=Lab meeting schedule
Type=Link
URL=https://docs.google.com/spreadsheets/d/1UP-GQ6jdWdjRf71CBQllR6CX6CwpUT8r4jihVfryxWU/edit#gid=0
Icon=text-html
