[Desktop Entry]
Encoding=UTF-8
Name=Hong Lab Ordering Database
Type=Link
URL=https://docs.google.com/spreadsheets/d/1Om_FGhUVCjiZ9hX-Dp-zITWFaFdeGj5hFy5_K9SzF3k/edit#gid=0
Icon=text-html
